body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #444;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

label,
input[type="text"],
textarea,
button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="text"],
textarea {
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #555;
    resize: vertical;
    color: #fff;
    background-color: #666;
}

button {
    padding: 8px 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.notes-container {
    background-color: #444;
    border-radius: 5px;
    padding: 20px;
}

/* .note {
    border-bottom: 1px solid #555;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.note:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.note h3 {
    margin-top: 0;
}

.note p {
    margin-bottom: 5px;
}

.note button {
    background-color: #f44336;
    margin-right: 5px;
}

.note button:hover {
    background-color: #d32f2f;
} */